body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f9ff;
  color: #000;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
header .main-logo {
  height: 40px;
}

a {
  text-decoration: none;
  color: #0380EB;
}

.menu-links {
  list-style-type: none;
  font-family: 'Poppins';
  color: #0380EB;
}
