body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f9ff;
    color: #000;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  header .main-logo {
    height: 40px;
  }

  .hero {
    text-align: center;
    padding: 2rem 1rem;
    line-height: 37px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero h1 span {
    color: #2661e0;
    font-weight: bold;
    font-style: italic;
  }
  .hero button {
    background-color: #2661e0;
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    margin: 1rem 0;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .social-icons img {
    width: 52px;
    height: 52px;
  }
  .section {
    padding: 2rem 1rem;
    text-align: center;
  }
  .section h2 {
    color: #2661e0;
    font-size: 18px;
  }
  .about p {
    max-width: 350px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
  }

  .about {
    border: #000;
    border-radius: 15px;
    border-color: #fff;

  }
  .products, .benefits {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .product, .benefit {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 1rem;
    max-width: 320px;
  }
  footer {
    background-color: #bcd0e7;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 14px;
  }
  footer p {
    margin: 0.3rem 0;
  }