body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('..//assets/background.png  ') no-repeat center top;
      background-size: cover;
      background-attachment: fixed;
      background-color: #f8f8ff; /* fallback color if image fails */
    color: #000;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  header .main-logo {
    height: 40px;
  }

  .hero {
    text-align: center;
    padding: 2rem 1rem;
    line-height: 37px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero h1 span {
    color: #2661e0;
    font-weight: bold;
    font-style: italic;
  }
  .hero button {
    background-color: #2661e0;
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    margin: 1rem 0;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 20px;
  }
  .social-icons img {
    width: 52px;
    height: 52px;
  }
  .section {
    padding: 2rem 1rem;
    text-align: center;
  }
  .section h2 {
    color: #2661e0;
    font-size: 18px;
    font-weight: bold;
  }

  .box-glass {
    width: 292px; 
    height: 410px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 20px; 
    padding: 2rem; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  }

  .abouts p {
    max-width: 350px;
    margin: 0 auto;
    font-size: 12px;
    color: black;
    text-align: left;
    line-height: 18px;
  }

  .abouts h2 {
    color: #2661e0;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }

  .card {
    justify-content: center;
  }

  .prodtitle {
    font-weight: bold;
    font-size: 15px;
  }

  .prodcontent {
    font-size: 11px;
  }
  .products, .benefits {
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;
    padding: 30px

  }

  .glass-box {
    width: 132px;
    height: 122px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 20px; 
    padding: 30px; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  }

 .benefit-paperless, .benefit-sharing, .benefit-brand, .benefit-secure {
    font-size: 12px;
    font-family: 'Timmana';
    padding-top: 10px;

  }
  footer {
    background-color: #bcd0e7;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 14px;
  }
  footer p {
    margin: 0.3rem 0;
  }
